mixin filter(prop = {}, index = 0)
    .filter
        p.filter-title.js-accordeon-title(class=`${ index === 0 ? "is-opened" : ""}`)!= prop.name
            span.filter-title__icon
                +icon('drop_arrow')
        .js-accordeon-content
            .filter-content
                each item, index in prop.items
                    .filter-item
                        input.filter-item__input(type="checkbox", name=`${prop.name}+${index}`, id=`${prop.name+index}`)
                        label.filter-item__label(for=`${prop.name+index}`)!= item
