-
	var menu = [
		{title: 'product', submenu: true},
		{title: 'design', submenu: true},
		{title: 'advice', submenu: true},
		{title: 'commercial', submenu: true},
		{title: 'promotions', submenu: false}
	];
	var submenu = ['carpet', 'laminate', 'vinyl', 'tiles', 'wood', 'vinyl planks', 'curtains & blinds', 'rigid '];

#mobileMenu.g-mm
	.mm-wrap
		.swipe-menu
			each item1 in menu
				.menu-item
					a(href='#', class='#{item1.submenu ? "lnk-next" : ""}') #{item1.title}
					if (item1.submenu)
						.item-drop
							.drop-nav
								.drop-nav__ttl #{item1.title}
								.drop-nav__btn
									button.btn.btn-index.btn--grey.lnk-back(type='button') back
							.drop-menu
								each item2 in submenu
									.menu-item
										a.lnk-next(href='#') #{item2}
										.item-drop
											.drop-nav
												.drop-nav__ttl #{item2}
												.drop-nav__btn
													button.btn.btn-index.btn--grey.lnk-back(type='button') back
											.drop-menu
												each item3 in submenu
													.menu-item
														a(href='#') #{item3}