mixin product-card
    .product-card.js-show-photo-parent
        .product-card-info
            .product-card__subtitle Rhino
            h5.product-card__title Evercore Herringbone
            .product-card-color
                .product-card-color__title Colour Range
                ul.product-card-color__list
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 1
                        .product-card-color__img
                            img(src="images/colors/color-1.png", alt="color")
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 2
                        .product-card-color__img
                            img(src="images/colors/color-2.png", alt="color")
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 3
                        .product-card-color__img
                            img(src="images/colors/color-3.png", alt="color")
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 4
                        .product-card-color__img
                            img(src="images/colors/color-4.png", alt="color")
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 5
                        .product-card-color__img
                            img(src="images/colors/color-5.png", alt="color")
                    li.product-card-color__item.js-show-photo-trigger
                        .product-card-color__tooltip(
                            style="-webkit-mask-image: url('images/tooltip-color.svg');mask-image: url('images/tooltip-color.svg'); background-image:url('images/product-tool/swatch.jpg');"
                        )
                            .product-card-color__tooltip-name Clare 6
                        .product-card-color__img
                            img(src="images/colors/color-6.png", alt="color")
            p.product-card__description The sophisticated herringbone look has the power to transform any blank space into a stylish masterpiece with a hefty price tag.
            ul.product-card-features
                li.product-card-features__item Dent Resistant
                li.product-card-features__item Easy Maintenence
                li.product-card-features__item Exclusive
                li.product-card-features__item Fade Resistant
                li.product-card-features__item Family Friendly
                li.product-card-features__item Heavy Wear
                li.product-card-features__item Luxury
                li.product-card-features__item Pet Friendly
                li.product-card-features__item Water Resistant
            a.product-card__link.button(href="/product/") see the range
        .product-card-photo
            img(src="images/product-card/product-image.png", alt="product image")
            .product-card-example
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 1
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 2
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 3
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 4
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 5
                .product-card-example__item.js-show-photo-target(style="background-image:url('images/product-tool/swatch.jpg');")
                    .product-card-example__item-name Clare 6
